@using GenomeAnalyzer.Domain.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GenomeAnalyzer.Domain.Entities.GenomeEntity

@{
    ViewData["Title"] = $"{Model.Name} - Distribution";
}

<h3 class="mb-3 text-muted">Distribution form</h3>
<div>
    <h4 class="mb-3 text-muted">Genome</h4>
    <form class="mb-3" id="genomeForm">
        <input asp-for="Id" id="genomeId" name="id" type="hidden"/>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-form-label">Name</label>
                <input asp-for="@Model.Name" name="name" type="text" class="form-control" style="pointer-events: none;" readonly/>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label">Type</label>
                <select asp-for="@Model.Type" name="type" class="form-control" asp-items="Html.GetEnumSelectList<SpeciesType>()" style="pointer-events: none;" readonly></select>
            </div>
            <div class="form-group col-md-12">
                <label class="col-form-label">Raw genome</label>
                <textarea asp-for="@Model.RawGenome" name="rawGenome" type="text" class="form-control" rows="7" readonly></textarea>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-3" id="distributionOptions">
        <h5 class="mb-3 text-muted">Method</h5>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="distrRadios" id="nucRadio" value="nuc" checked>
            <label class="form-check-label">
                By a nucleotide
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="distrRadios" id="constLenRadio" value="constLen">
            <label class="form-check-label">
                By constant lenght
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="distrRadios" id="ngramRadio" value="ngram">
            <label class="form-check-label">
                By Ngram
            </label>
        </div>
        <div class="btn-group" role="group">
            <button id="distributeGenome" class="btn btn-outline-primary mb-3">Submit</button>
            <button id="cancelButton" class="btn btn-outline-danger mb-3">Cancel</button>
        </div>
    </div>
    <div class="col-9">
        <h5 class="mb-3 text-muted">Parameters</h5>
        <div id="nucParams">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nucleotide for distribution:</label>
                    <select id="nucleotideSelect" class="form-select">
                        <option value="a">Adenine</option>
                        <option value="c">Cytosine</option>
                        <option value="g">Guanine</option>
                        <option value="t">Thymine</option>
                    </select>
                </div>
            </form>
        </div>
        <div id="constLenParams" style="display:none;">
            <form>
                <div class="mb-3">
                    <label class="form-label">Sequence length:</label>
                    <input id="constSeqLength" name="constSeqLength" type="number" min="1" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Start from:</label>
                    <select id="startPosSelect" class="form-select"></select>
                </div>
            </form>
        </div>
        <div id="ngramParams" style="display:none;">
            <div class="mb-3">
                <div class="mb-3">
                    <label class="form-label">Sequence length:</label>
                    <input id="ngramSeqLength" name="ngramSeqLength" type="number" min="1" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="distributionForm" class="row" style="display:none;">
    <div class="col-3 mb-3">
        <h5 class="mb-3 text-muted">Distribution parameters</h5>
        <div class="mb-3">
            <label class="form-label">Entropy:</label>
            <input id="entropy" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">First central moment:</label>
            <input id="firstCentralMoment" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Second central moment:</label>
            <input id="secondCentralMoment" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Dispersion coefficient:</label>
            <input id="dispersionCoefficient" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Adenine amount:</label>
            <input id="adenineAmount" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Guanine amount:</label>
            <input id="guanineAmount" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Cytosine amount:</label>
            <input id="cytosineAmount" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Thymine amount:</label>
            <input id="thymineAmount" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Nucleotides:</label>
            <input id="nucleotidesAmount" type="number" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label">Sequences:</label>
            <input id="sequencesAmount" type="number" class="form-control" readonly/>
        </div>
    </div>
    <div class="col-9">
        
        <h5 class="mb-3 text-muted">Rank-frequency distribution</h5>
        <div class="row">
            <div class="col-6" style="height: 425px;">
                <canvas id="rankFrequencyChart"></canvas>
            </div>
            <div id="rankFrequencyData" class="col-6" style="height: 425px; overflow: auto;"></div>
        </div>
        <h5 class="mb-3 text-muted">Statistical spectrum</h5>
        <div class="row">
            <div class="col-6" style="height: 425px;">
                <canvas id="statisticalSpectrumChart"></canvas>
            </div>
            <div id="statisticalSpectrumData" class="col-6" style="height: 425px; overflow: auto;"></div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/Home/distribution.js"></script>